{% extends 'layouts/basic.html' %}
{% load static %}
{% block main_section %}
    <section class="main__section">
        <div class="container">
            <h1 class="h1">Tools</h1>

            <div class="cards">
                <div class="card">
                    <div class="card__container active">
                        <a href="{% url 'add_deal' %}">
                            <div class="card_thumb">
                                <button type="submit" class="card_thumb_figure">
                                    <img src="{% static 'templates/images/search.svg' %}" class="img-fluid" alt=""/>
                                </button>
                            </div>
                        </a>
                        <div class="card_caption">
                            <a href="{% url 'add_deal' %}">Add Deals</a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card__container">
                        <a href="{% url 'deals' %}">
                            <div class="card_thumb">
                                <button type="submit" class="card_thumb_figure">
                                    <img src="{% static 'templates/images/booking-cl.svg' %}" class="img-fluid" alt=""/>
                                </button>
                            </div>
                        </a>
                        <div class="card_caption">
                            <a href="{% url 'deals' %}">Deal</a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card__container">
                        <a href="{% url 'calendar' %}">
                            <div class="card_thumb">
                                <button type="submit" class="card_thumb_figure">
                                    <img src="{% static 'templates/images/account-cl.svg' %}" class="img-fluid" alt=""/>
                                </button>
                            </div>
                        </a>
                        <div class="card_caption">
                            <a href="{% url 'calendar' %}">Calendar</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}

<!--                <div class="card">-->
<!--                    <div class="card__container">-->
<!--                        <a href="{% url 'invoice' %}">-->
<!--                            <div class="card_thumb">-->
<!--                                <button type="submit" class="card_thumb_figure">-->
<!--                                    <img src="{% static 'templates/images/account-cl.svg' %}" class="img-fluid" alt=""/>-->
<!--                                </button>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                        <div class="card_caption">-->
<!--                            <a href="{% url 'calendar' %}">Invoice</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->